/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "settings/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/print";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";
// Core CSS
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/code";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";

// Components
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/alerts";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";

// Utility classes
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";



$container-color: #FFF;
$header-bg-color: #FFCC29;
$container-bg-color: #333;
$font-color: #fff;

.navbar-inverse {
  background-color: $container-bg-color;
  border-color: $container-bg-color;
  .navbar-brand {
    text-decoration: none;
    color: $header-bg-color;
    &:hover {
      color: $header-bg-color;
    }
  }
  .navbar-nav {
    & > li {
      padding: 10px;
      & > a {
        text-decoration: none;
        color: $header-bg-color;
        padding: 5px 15px;
        &:hover {
          color: $header-bg-color;
          border: 1px solid $header-bg-color;
          border-radius: 4px
        }
      }
    }
  }
  .navbar-toggle {
    border-color: #505050;
    &:hover, &:focus {
      background-color: #FFC000;
      background-image: linear-gradient(180deg, #FFC000, #F0A804);
    }
    .icon-bar {
      background-color: #505050;
    }
  }
}

//Login screen
html, body.login, .login-container, .container {
  background-color: $container-bg-color;
  height: 100%;
}
.login-container {
  .container {
    height: 100%;
    display: table;
    vertical-align: middle;
  }

  .vertical-center-row {
    display: table-cell;
    vertical-align: middle;
  }
  //Login screen
  .btn.glyphicon, .input-group-addon.glyphicon {
    position: initial;
    background-color: $header-bg-color;
    border-color: $header-bg-color;
  }

  .input-group .form-control {
    background: transparent;
    border-color: $header-bg-color;
    color: $header-bg-color;
    &.password {
      border-right: none;
    }
  }

  .input-group-btn button {
    &.login-btn {
      background-color: rgba(0, 0, 0, 0);
      color: $header-bg-color;
      border-left: none;
      &:hover {
        background-color: #FFCC29;
        color: #333;
      }
    }
  }

  .login-share {
    a {
      color: #666666;
      text-decoration: none;
      &:hover, &:focus {
        color: $header-bg-color;
        text-decoration: none;
      }
      float: left;
      &:nth-child(even) {
        float: right;
      }

    }
  }
}
.made-with-love{
  display: block;
  color: #666;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  i{
    color: $header-bg-color;
  }
}